<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Relaxato City</title>
<link rel="stylesheet" href="./register-user.component.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Relaxato City</h1>
		<p style="color:lime; text-align:center; font-size:x-large;">
      Photography Blogging 
    </p>
		
		</div>
	</div>
	
	
		<div class="right">
		<h5>Register</h5>
		
		<div class="inputs">
			<input type="text" placeholder="USERNAME">
			<br>
      <input type="text" placeholder="EMAIL">
			<br>
      <input type="text" placeholder="DOB">
			<br>
			<input type="password" placeholder="BIO">
      <br>
			<input type="password" placeholder="PASSWORD">
      <br>
			<input type="password" placeholder="REPEAT PASSWORD">
      
		</div>
			
			<br><br>
			
		<div class="submit--login">
		</div>
			<button>Submit</button><a href="../login-user/login-user.component.html"><button>Login</button></a>
	</div>
	
</div>
  
</body>
</html>
