<h1 class="logo"><span>Relaxato  City</span></h1> 
<html>
<head>
  <link rel="stylesheet" href="./about-us.component.css"/>
</head>
<body>
    <p style="text-align:center">
        Relaxato City is an Photography Blogging Website.Here you can share Photos,vlogs.You can also share your travel experiences with others
        <br>
        <br>
        <br>
      </p>
      <img src="./pexels-eberhard-grossgasteiger-572897.jpg" height="200" width="200" />
        
      <img src="./pexels-luis-del-río-15286.jpg" height="200" width="200" />

      <img src="./pexels-stein-egil-liland-3408744.jpg" height="200" width="200" />

      <img src="./pexels-cody-king-1208074.jpg" height="200" width="200" />
      <br>
      <a href="https://www.youtube.com/@relaxatocity"> <button>Relaxing Music</button></a>

      <a href=" https://hideout.co/userchannel/knaveenraj"> <button>HideoutTv</button></a>
     
</body>
</html>